@import '@jctrejosi/components-seed/bundle/index.css';
@import '@/styles/styles.css';
@import '@/styles/variables.css';
@import '@/styles/fonts.css';

html {
  font-family: 'main', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

