:root {
  --base-color-1: #f1f0f8;
  --base-color-2: #e0eaf5;
  --base-color-3: #92ddab;
  --base-color-4: #eea8a8;
  --base-color-4-1: #c76060;
  --base-color-5: #6fc468;
  --base-color-6: #d6e64e;
  --base-color-7: #aadbfc;
  --base-color-8: #262946;
  --base-color-9: #4a557a;
  --base-color-10: #505452;
  --base-color-11: #1a1a1a;
  --base-color-12: #155f1f;

  --anchor-color: var(--base-color-12);
  --anchor-color-hover: var(--base-color-7);
  --link-size: 1.4rem;
  --bg-primary: var(--base-color-11);
  --bg-secondary: var(--base-color-10);
  --bg-item: var(--base-color-10);
  --dot-active-color: var(--base-color-3);
  --dot-color: var(--base-color-1);
  --input-placeholder-color: var(--dark-30);
  --input-text-color: var(--base-color-1);
  --input-focus-color: var(--base-color-6);
  --label-color: var(--base-color-1);
  --label-size: 1.4rem;
  --subtitle-color: var(--base-color-7);
  --subtitle-size: 2.4rem;
  --text-size: 1.6rem;
  --text-color: var(--base-color-2);
  --title-color: var(--base-color-1);
  --title-size: 4rem;
  --btn-color: var(--base-color-12);
  --btn-hover-color: var(--base-color-3);
  --btn-size: 1.4rem;
  --icon-color: var(--base-color-12);
  --icon-color-hover: var(--base-color-3);
}

